<main class="content-area">
  
  <div id="articles"></div>
  
</main>

<script src="https://drafity.pro/embed.js" data-api-key="79274b0e54380b13adf792be6b1efe49c1ee10c7f3d08b0a56b37134a729c073"></script>
