<main class="content-area">
  
  <div id="articles"></div>
  
</main>

<script src="https://drafity.pro/embed.js" data-api-key="3a190a30cc11daa71071dc432837f703d3e20968c568647cef45f9e2873094bb"></script>
